export PY_VERS=3.12.2
export PY_BIN="python$(cut -d. -f1-2 <<< ${PY_VERS})"

if [[ "$(which pyenv)" == "" ]]; then
    [[ "$(${PY_BIN} --version)" != "Python ${PY_VERS}" ]] && {
        echo -e "===\n!!ERROR!!: Did not detect python ${PY_VERS}. Run '${PY_BIN} --version' to validate\n==="
        echo "GOT: $(${PY_BIN} --version) || WANT: Python ${PY_VERS}"
        exit 1
    }
    layout python "${PY_BIN}"
else
    layout pyenv "${PY_VERS}"
fi
